{% extends "layout.html" %}

{% block content %}
<div class="d-flex flex-column">
    <h1>다운로드 페이지</h1>
    <div id="container">
        <div id="file_list">
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
<script>
        async function getFileList() {
            res = await fetch("/download")
            res_json = await res.json()
            return res_json
        }

        async function loadFileList() {
            console.log("test")
            file_list = await getFileList()
            for (element of file_list) {
                div = await generateFileDiv(element)
                console.log(div)
                document.getElementById("file_list").appendChild(div)
            }
        }

        async function downloadFile(file_name) {
            res = await fetch(`/download/${file_name}`)
            console.log("clicked")
            blob = await res.blob()
            const url = window.URL.createObjectURL(blob)
            const a = document.createElement("a")
            a.href = url
            a.download = `${file_name}`
            a.click()
            a.remove()
            window.URL.revokeObjectURL(url);
        }

        async function generateFileDiv(file_name) {
            container = document.createElement("div")
            container.classList.add("d-flex")
            element = document.createElement("div")
            element.id = file_name
            // element.src = `/download/${file_name}`;
            element.innerText = file_name
            downloadButton = document.createElement("button");
            downloadButton.innerText = "다운로드";
            downloadButton.classList.add("btn", "btn-primary")
            downloadButton.addEventListener("click", async () => { await downloadFile(file_name) })
            console.log(element);
            container.append(element, downloadButton);
            return container
        }

        loadFileList().then()
        // getFileList().then(res => console.log(res))
    </script>
{% endblock %}

