{% extends "layout.html" %}

{% block content %}
    <div class="d-flex flex-column">
        <h1>다운로드 페이지</h1>
        <div id="container">
            <div id="file_list">
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        async function getFileList() {
            res = await fetch("/video")
            res_json = await res.json()
            return res_json
        }

        async function loadFileList() {
            file_list = await getFileList()
            for (element of file_list) {
                div = await generateFileDiv(element)
                document.getElementById("file_list").appendChild(div)
            }
        }

        async function downloadFile(file_name, resource_id) {
            res = await fetch(encodeURI(`/video/${resource_id}`))
            if (res.status === 404){
                alert("존재하지 않는 파일입니다.")
                return
            }
            blob = await res.blob()
            const url = window.URL.createObjectURL(blob)
            const a = document.createElement("a")
            a.href = url
            a.download = `${file_name}.mp3`
            a.click()
            a.remove()
            window.URL.revokeObjectURL(url);
        }

        async function generateFileDiv(fileData) {
            container = document.createElement("div")
            container.classList.add("d-flex", "row")

            downloadButtonContainer = document.createElement("div")
            downloadButtonContainer.classList.add("col-2")

            titleDiv = document.createElement("div")
            titleDiv.classList.add("col-8")
            titleDiv.id = fileData.title
            titleDiv.innerText = fileData.title

            downloadButton = document.createElement("button");
            downloadButton.innerText = "다운로드";
            downloadButton.classList.add("btn", "btn-primary")
            downloadButton.addEventListener("click", async () => {
                await downloadFile(fileData.title, fileData.resource_id)
            })
            downloadButtonContainer.append(downloadButton)

            checkDiv = document.createElement("div")
            checkDiv.classList.add("form-check", "col")

            checkInput = document.createElement("input")
            checkInput.classList.add("form-check-input")
            checkInput.type = "checkbox"
            checkInput.value = ""
            checkInput.id = fileData.resource_id
            checkInput.checked = fileData.is_downloaded

            checkInput.addEventListener("click", async () => {
                await editDownloadStatus(fileData.resource_id)
            })

            checkLabel = document.createElement("label")
            checkLabel.classList.add("form-check-label")
            checkLabel.for = checkInput.id
            checkLabel.innerText = "다운로드 여부"

            checkDiv.append(checkInput, checkLabel)

            container.append(titleDiv, downloadButtonContainer, checkDiv);
            return container
        }

        async function editDownloadStatus(resourceId) {
            let status = document.getElementById(resourceId).checked
            res = await fetch(`/video/${resourceId}?status=${status}`, {
                method: "PATCH"
            })

        }

        loadFileList().then()
    </script>
{% endblock %}

